
body{
    align-items: center;
}

button{
width: 40px;
margin: 5px;
border-radius: 10%;
color: rgb(233, 9, 9);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 1px salmon;
}